* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* color: #D4C17F; */
    font-size: 15px;
    font-family: 'Vollkorn', sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.55em;
    background-color: #242B33;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    color: #D4C17F;
}

p {
    margin: 0;
    letter-spacing: 0.03em;
    line-height: 1.55em;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/* .container {

} */

.header {
    background-image: url(../img/Rectangle.png);
    background-size: 100%;
    height: 640px;
}

.navigation {
    display: flex;
    justify-content: space-between;    
}
.navigation ul {
    display: flex;
    list-style-type: none;
}

.navigation ul li {
    margin-right: 60px;
    padding-top: 13px;
}

.navigation img {
    margin-left: 60px;
}

.content h1 {
    text-align: center;
    padding-top: 153px;
}
.content img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 115px;
    margin-right: 50px;
    margin-left: 50px;
}

.main {
    color: #FFFFFF;
    position: relative;
}

.testimonias {
    display: flex;
    justify-content:center;
    text-align: center;
}
.testimonias img {
    padding-bottom: 15px;
}

.number-two {
    position: absolute;
    left: 76%;
    top: 96%;
}

.loft-rooms {
    margin-top: 95px;
}
.loft-rooms h2 {
    padding-left: 107px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}
.lofts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 70px;
    
}
.lofts figure img {
    width: 535px;
    height: 320px;
}
.lofts figcaption {
    color: #FFFFFF;
}
/* .loft figure {
    
} */
